# Cartelle di output della compilazione
/bin/
/build/
/target/

# File e cartelle generati da Maven/Gradle
*.iml
/.classpath
/.project
/.settings/

# cartelle di backup
/backup/

# Cartella delle impostazioni di VS Code
.vscode/

# File di sistema (macOS, Windows, Linux)
.DS_Store
Thumbs.db

# File log
*.log

# File .class (bytecode Java)
*.class

# Altri file temporanei
*.tmp

# Altro
*.puml
*.svg

# manifesto jar 
original-aMULeto-1.0-SNAPSHOT.jar

dependency-reduced-pom.xml

APPUNTI_PERSONALI.md
PROJECT_PLAN.md